body {
  font-family: Arial, sans-serif;
  /* background: #111; */
    background: #0b1220;
  color: #fff;
  margin: 0;
  padding: 0;
}

header {
  background: #1f1f1f;
  padding: 20px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.card {
  background: #1e1e1e;
  padding: 20px;
  margin: 15px 0;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

button {
  padding: 12px 18px;
  margin: 10px 5px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.btn-blue {
  background: #3498db;
  color: white;
}

.btn-green {
  background: #2ecc71;
  color: white;
}